<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/contact.css">
</head>

<body>
    <nav>
        <div class="container nav_container">
            <a href="/">
                <h4>LearnEase</h4>
            </a>
            <ul class="nav_menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
            <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
        </div>
    </nav>


    <section class="contact">
        <div class="container contact_container">
            <aside class="contact_aside">
                <div class="aside_image">
                    <img src="/public/images/contact/1.png" alt="">
                </div>
                <h2>Contact Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio in culpa fuga?</p>
                <ul class="contact_details">
                    <li>
                        <i class="uil uil-phone-times"></i>
                        <h5>+91 8490348300</h5>
                    </li>
                    <li>
                        <i class="uil uil-envelope"></i>
                        <h5>support@mail.com</h5>
                    </li>
                    <li>
                        <i class="uil uil-location-point"></i>
                        <h5>Accra, Ghana</h5>
                    </li>
                </ul>
                <ul class="contact_socials">
                    <li><a href="https://facebook.com"><i class="uil uil-facebook-f"></i></a></li>
                    <li><a href="https://instagram.com"><i class="uil uil-instagram"></i></a></li>
                    <li><a href="https://twitter.com"><i class="uil uil-twitter"></i></a></li>
                    <li><a href="https://linkedin.com"><i class="uil uil-linkedin-alt"></i></a></li>
                </ul>
            </aside>
            <form action="/contact" method="post" class="contact_form">
                <div class="form_name">
                    <input type="text" name="First_Name" placeholder="First Name" required>
                    <input type="text" name="Last_Name" placeholder="Last Name" required>
                </div>
                <input type="email" name="Email" placeholder="Your Email Address" required>
                <textarea name="Message" rows="7" placeholder="Message" required></textarea>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
    </section>



<footer>
        <div class="container footer_container">
            <div class="footer_1">
                <a href="/" class="footer_logo">
                    <h4>LearnEase</h4>
                </a>
                <p>Thank you for visiting this website! We genuinely hope that your experience here proves to be valuable and beneficial.</p>
            </div>

            <div class="footer_2">
                <h4>Permalinks</h4>
                <ul class="permalinks">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/courses">Courses</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>

            <div class="footer_3">
                <h4>Primacy</h4>
                <ul class="privacy">
                    <li><a href="/">privacy Policy</a></li>
                    <li><a href="/">Terms and Conditions</a></li>
                    <li><a href="/">Refund Policy</a></li>
                </ul>
            </div>

            <div class="footer_4">
                <h4>Contact Us</h4>
                <div>
                    <p>+91 1234567890</p>
                    <p>dev@gmail.com</p>
                </div>
                <ul class="footer_socials">
                    <li><a href="https://www.facebook.com/"><i class="uil uil-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="uil uil-instagram-alt"></i></a></li>
                    <li><a href="https://www.twitter.com/"><i class="uil uil-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/"><i class="uil uil-linkedin-alt"></i></a></li>
                </ul>
            </div>

        </div>
        <div class="footer_copyright">
            <small>Copyright &copy; LearnEase</small>
        </div>

    </footer>

    <script src="/nav.js"></script>

</body>

</html>